@import "../variables";
@import "../mixins";

@for $i from 1 through 6 {
	@keyframes line-increase2-#{$i} {
		0% {
			height: 5px;
		}
		50% {
			height: (random(100) + 30) + px;
		}
		100% {
			height: 5px;
		}
	}
}

@mixin line-increase-loader-2($n: 6) {
	@for $i from 1 through $n {
		> div:nth-child(#{$i}){
			animation-name: line-increase2-#{$i};
			animation-duration: ((random(100) / 100) + 0.8) + s;
			animation-iteration-count: infinite;
		}
	}
}

.line-increase-2{
	@include line-increase-loader-2();
	> div{
		align-self: flex-start;
		display: inline-block;
		width: 10px;
		height: 100px;
		background-color: #fff;
		margin: 5px;
	}
}