doctype html5
head
	link(rel="stylesheet", type="text/css", href="demo.css")
	link(rel="stylesheet", type="text/css", href="loaders.min.css")
body
	.main-box
		.loaders-box
			.loader
				.loader-inner.ball-pulse
					div
					div
					div

			.loader
				.loader-inner.ball-grid-pulse
					div
					div
					div
					div
					div
					div
					div
					div
					div

			.loader
				.loader-inner.ball-clip-rotate
					div

			.loader
				.loader-inner.ball-clip-rotate-pulse
					div
					div

			.loader
				.loader-inner.square-spin
					div

			.loader
				.loader-inner.ball-clip-rotate-multiple
					div
					div

			.loader
				.loader-inner.ball-pulse-rise
					div
					div
					div
					div
					div

			.loader
				.loader-inner.ball-rotate
					div

			.loader
				.loader-inner.cube-transition
					div
					div

			.loader
				.loader-inner.ball-zig-zag
					div
					div

			.loader
				.loader-inner.ball-zig-zag-deflect
					div
					div

			.loader
				.loader-inner.ball-triangle-path
					div
					div
					div

			.loader
				.loader-inner.ball-scale
					div

			.loader
				.loader-inner.line-scale
					div
					div
					div
					div
					div

			.loader
				.loader-inner.line-scale-party
					div
					div
					div
					div

			.loader
				.loader-inner.ball-scale-multiple
					div
					div
					div

			.loader
				.loader-inner.ball-pulse-sync
					div
					div
					div

			.loader
				.loader-inner.ball-beat
					div
					div
					div

			.loader
				.loader-inner.line-scale-pulse-out
					div
					div
					div
					div
					div

			.loader
				.loader-inner.line-scale-pulse-out-rapid
					div
					div
					div
					div
					div

			.loader
				.loader-inner.ball-scale-ripple
					div

			.loader
				.loader-inner.ball-scale-ripple-multiple
					div
					div
					div

			.loader
				.loader-inner.ball-spin-fade-loader
					div
					div
					div
					div
					div
					div
					div
					div

			.loader
				.loader-inner.line-spin-fade-loader
					div
					div
					div
					div
					div
					div
					div
					div

			.loader
				.loader-inner.triangle-skew-spin
					div

			.loader
				.loader-inner.pacman
					div
					div
					div
					div
					div

			.loader
				.loader-inner.semi-circle-spin
					div

			.loader
				.loader-inner.ball-grid-beat
					div
					div
					div
					div
					div
					div
					div
					div
					div

			.loader
				.loader-inner.ball-scale-random
					div
					div
					div
		.loaders-box
			.loader
				.loader-inner.overwatch-loading-1
					.overwatch-box
						div
						div
						div
						div
						div
						div
						div
			.loader
				.loader-inner.overwatch-loading-2
					.overwatch-box
						div.overwatch-logo
							div.across-line
							div.taper
						div.overwatch-inner-ring3
							div.inner-ring3-p1-c
								div.p1-an
									div.inner-ring3-p1-r
							div.inner-ring3-p2-c
								div.p2-an
									div.inner-ring3-p2-r
						div.overwatch-inner-ring1
						div.overwatch-inner-ring2
							div.inner-ring2-c
								div.inner-ring2-r
						div.overwatch-outer-ring1
						div.overwatch-outer-ring2
		.loaders-box
			.loader
				.loader-inner.line-progress-loader
					div
			.loader
				.loader-inner.circle-rotate-loader
					div loading
					div
					div
			.loader
				.loader-inner.TaiChi-rotate-loader
					div
		//- .loaders-box
		//- 	.loader
		//- 		.loader-inner.dot-fade-loader-1
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		//- 	.loader
		//- 		.loader-inner.dot-fade-loader-2
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		//- 	.loader
		//- 		.loader-inner.dot-fade-loader-3
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		//- 	.loader
		//- 		.loader-inner.square-fade-loader-1
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		//- 	.loader
		//- 		.loader-inner.square-fade-loader-2
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		//- 	.loader
		//- 		.loader-inner.square-fade-loader-3
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		//- 			div
		.loaders-box
			.loader(style="align-items:flex-start")
				.loader-inner.line-increase-1
					div
					div
					div
					div
					div
					div
						
	script.
		document.addEventListener("DOMContentLoaded", function(){
			document.querySelector(".main-box").className += " loaded"
		})
